@keyframes blob {
	0% {
		transform: translate(0, 0);
		rotate: 0deg;
	}
	30% {
		rotate: 40deg;
	}
	50% {
		transform: translate(300px, 390px) scale(1.1);
	}
	80% {
		rotate: 90deg;
	}
}

.blob::before {
	animation: blob 8s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.blob-reverse::after {
	animation: blob 10s infinite cubic-bezier(0.215, 0.61, 0.355, 1) reverse;
}
